<h2><%= t("order_list") %></h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t("created_at") %></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td><%= link_to(order.id, order_path(order.token)) %></td>
      <td><%= order.created_at.to_s %></td>
    </tr>
    <% end %>
  </tbody>
</table>
