<div class="col-md-10 col-md-offset-1">
  <div class="panel panel-default" style="margin-top: 40px;">
    <div class="panel-heading cuspanel-head text-center">
      <h2><%= t("admin.new_category") %></h2>
    </div>
    <div class="panel-body">
      <%= simple_form_for [:admin, @category] do |f| %>
      <div class="group">
        <%= f.input :name %>
      </div>
      <div class="group">
        <%= f.button :submit, t("submit"), :class => "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
