/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 @import "select2";
 @import "select2-bootstrap";


 html {
    position: relative;
    min-height: 100%;
  }

  body {
    /* Margin bottom by footer height */
    margin-bottom: 100px;
  }

  .footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   /* Set the fixed height of the footer here */
   height: 100px;
   background-color: #233140;

   p {
      color: white;
     margin-top: 30px;
   }
  }

  // 固定位置的消息通知
.alert {
  position: fixed; // 这个属性防止将内容挤下去
  top: 51px; // 让消息在导航条下面，不挡住导航，根据自己导航navbar的高度调整
  left: 1%;
  width: 98%;
  z-index: 10; // 让消息显示在最上面
}
