// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//========= index =========
.index-bg {
  background-color: #F5F5F5!important;
}

.goods-content {
    img {
      width: 100%;
      margin: 7.5px auto 7.5px auto;
    }
  }

.thumbnail {
  height: 300px;
  padding-top: 5px;
}

.index-pic {
  padding-top: 15px;
}

.productList-item-sellout {
	position: absolute;
	top: 80px;
	left: 50%;
	width: 70px;
	height: 70px;
	line-height: 70px;
	margin-left: -35px;
	font-size: 16px;
	background-color: rgba(0, 0, 0, .55);
	border-radius: 50%;
	color: #fff;
}

.sellout {
  margin-left: 8px;
}

.cusmenu {
  background-color: #333;
  margin: 0 0 20px;
  padding: 10px;
}

#menu-1 a, #menu-2 a, #menu-3 a {
  text-decoration: none;
  color: #6D6D6D;
}

#menu-1 a:hover, #menu-2 a:hover, #menu-3 a:hover {
  text-decoration: none;
  color: red;
}

#menu-1 a:active, #menu-1 a:focus,
#menu-2 a:active, #menu-2 a:focus,
#menu-3 a:active, #menu-3 a:focus {
  border-bottom: 2px solid red;
}

.float-box {
  position: relative;
  transition: all 0.4s;
  -webkit-transition:all 0.4s ease-in-out;
  -moz-transition:all 0.4s ease-in-out;
  -ms-transition:all 0.4s ease-in-out;
}

.float-box:hover {
  top: -5px;
}

.redbottom {
  border-bottom: 3px solid red;
}

// .bottom20 {
//   margin-bottom: 20px;
// }
//
// .cusmenu2 {
//   background-color: #333;
//   color: #ccc;
//   border-bottom: 0!important;
//
// }
//
// .cusmenu2 > li {
//   margin-right: 10px;
// }
//
// .custabhead {
//   padding: 10px 15px;
// }
//
// .cusmenu2 > li > a {
//   border: 0!important;
//   border-radius: 0!important;
//   color: #6D6D6D;
// }
//
// .custab a:hover {
//   background-color: transparent!important;
//   color: red;
// }

//============ show ==============
.product-container {
    margin: 0;
    padding: 10px;
}

.product-container .thumbnail {
    margin-left: auto;
    margin-right: auto;
}

.product-images {
    margin-left: auto;
    margin-right: auto;
}

.show-price {
  color: red;
  font-size: 28px;
}

// 数量输入框
.product-quantity .quantity-input {
  color: #333;
  text-align: center;
  width: 50px;
  font-weight: bold;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.btn0margin {
  margin-left: 0!important;
  margin-right: 0px!important;
}

.empty {
  padding-top: 18px;
}

.light-weight {
  font-size: 12px;
  color: #777;
}

.favo-count {
  padding-top: 3px;
}
// ========== product carousel ===========

#carousel-custom {
    margin: 20px auto;
    width: 400px;
}
#carousel-custom .carousel-indicators {
    margin: 10px 0 0;
    overflow: auto;
    position: static; //bootstrap 有更改为absolute，所以这个默认值要加上，去覆盖bootstrap的
    text-align: left;
    white-space: nowrap; // 防止小图换行
    width: 100%;
}
#carousel-custom .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    // display: inline-block;
    height: auto;
    margin: 0 !important;
    width: auto;
}
#carousel-custom .carousel-indicators li:active {
  opacity: 1;
}
#carousel-custom .carousel-indicators li img {
    display: block;
    opacity: 0.5;
}
#carousel-custom .carousel-indicators li.active img {
    opacity: 1;
}
#carousel-custom .carousel-indicators li:hover img {
    opacity: 0.75;
}
#carousel-custom .carousel-outer {
    position: relative;
}
.carousel-indicators li img {
  height: 50px;
  width: 50px;
}

#carousel-custom2 {
    margin: 20px auto;
    width: 400px;
}
#carousel-custom2 .carousel-indicators {
    margin: 10px 0 0;
    overflow: auto;
    position: static; //bootstrap 有更改为absolute，所以这个默认值要加上，去覆盖bootstrap的
    text-align: left;
    white-space: nowrap; // 防止小图换行
    width: 100%;
}
#carousel-custom2 .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    // display: inline-block;
    height: auto;
    margin: 0 !important;
    width: auto;
}
#carousel-custom2 .carousel-indicators li img {
    display: block;
    opacity: 0.5;
    //border: 1px solid #ccc;
}
#carousel-custom2 .carousel-indicators li.active img {
    opacity: 1;
}
#carousel-custom2 .carousel-indicators li:hover img {
    opacity: 0.75;
}
#carousel-custom2 .carousel-outer {
    position: relative;
}

#carousel-custom3 {
    margin: auto auto 20px;
    padding-left: 15px;
}

.ads {
  margin-right: 0px!important;
}
